.button {
	padding: 6px 40px;
	font-family: $ff;
	font-weight: $fw-medium;
	font-size: 20px;
	background: $dark;
	border: 0;
	color: $white;
	box-shadow: 1px 1px 1px $dark;
	border-radius: $bord;
	text-shadow: 1px 1px 1px #111;
	transition: opacity ease $tr,
				margin ease 0.5s;
	cursor: pointer;

	&:hover {
		opacity: $op;
	}

	@media all and (min-width: $md) {
		font-size: 12px;
		padding: 5px 5px;
	}

	@media all and (min-width: $lg) {
		font-size: 15px;
		padding: 6px 30px;
	}

	@media all and (min-width: $xl) {
		font-size: 20px;
	}
}

.burger-button {
	position: relative;
	width: 25px;
	height: 25px;
	cursor: pointer;

	span {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 4px;
		background: $black;
		transition: transform ease $tr;

		&::before, &::after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 4px;
			background: $black;
		}

		&::before {
			top: 10px;
			width: 80%;
			left: 10%;
			transition: left ease $tr,
				opacity ease $tr, width ease $tr;
		}

		&::after {
			top: 20px;
			transition: transform ease $tr;
		}
	}

	&:hover {
		span::before {
			width: 100%;
			left: 0;
		}
	}

	&.opened {
		span {
			transform: rotate( -45deg );
			top: 10px;
		}

		span::before {
			opacity: 0;
		}

		span::after {
			transform: rotate( 90deg );
			top: 0;
		}
	}

	@media all and (min-width: $md) {
		display: none;
	}
}