@font-face {
    font-family: 'Neo Sans Pro Cyr';
    src: url('../fonts/NeoSansProCyr-Bold.eot');
    src: url('../fonts/NeoSansProCyr-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeoSansProCyr-Bold.woff2') format('woff2'),
        url('../fonts/NeoSansProCyr-Bold.woff') format('woff'),
        url('../fonts/NeoSansProCyr-Bold.ttf') format('truetype'),
        url('../../fonts/NeoSansProCyr-Bold.svg#NeoSansProCyr-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neo Sans Pro Cyr';
    src: url('../fonts/NeoSansProCyr-Light.eot');
    src: url('../fonts/NeoSansProCyr-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeoSansProCyr-Light.woff2') format('woff2'),
        url('../fonts/NeoSansProCyr-Light.woff') format('woff'),
        url('../fonts/NeoSansProCyr-Light.ttf') format('truetype'),
        url('../fonts/NeoSansProCyr-Light.svg#NeoSansProCyr-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neo Sans Pro Cyr';
    src: url('../fonts/NeoSansProCyr-Regular.eot');
    src: url('../fonts/NeoSansProCyr-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeoSansProCyr-Regular.woff2') format('woff2'),
        url('../fonts/NeoSansProCyr-Regular.woff') format('woff'),
        url('../fonts/NeoSansProCyr-Regular.ttf') format('truetype'),
        url('../fonts/NeoSansProCyr-Regular.svg#NeoSansProCyr-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neo Sans Pro Cyr';
    src: url('../fonts/NeoSansProCyr-Medium.eot');
    src: url('../fonts/NeoSansProCyr-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeoSansProCyr-Medium.woff2') format('woff2'),
        url('../fonts/NeoSansProCyr-Medium.woff') format('woff'),
        url('../fonts/NeoSansProCyr-Medium.ttf') format('truetype'),
        url('../fonts/NeoSansProCyr-Medium.svg#NeoSansProCyr-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'SONGER Grotesque';
    src: url('../fonts/SONGERGrotesque-Bold.eot');
    src: url('../fonts/SONGERGrotesque-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SONGERGrotesque-Bold.woff2') format('woff2'),
        url('../fonts/SONGERGrotesque-Bold.woff') format('woff'),
        url('../fonts/SONGERGrotesque-Bold.ttf') format('truetype'),
        url('../fonts/SONGERGrotesque-Bold.svg#SONGERGrotesque-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

