h1, .h1,
h2, .h2,
h3, .h3 {
	font-family: $ff;
	font-weight: $fw-bold;
	line-height: $lh-title;
	margin: 0;
}

h1, .h1 {
	font-size: 32px;
	margin-bottom: 40px;

	@media all and (min-width: $lg) {
		font-size: 36px
	}
}

h2, .h2 {
	font-size: 24px;
	margin-bottom: 30px;

	@media all and (min-width: $lg) {
		font-size: 36px
	}
}

h3, .h3 {
	font-size: 30px;
	margin-bottom: 25px;
}

a {
	display: inline-block;
	text-decoration: none;
	transition: color ease-out $tr,
			text-decoration ease $tr;

	&:hover {
		text-decoration: underline;
		text-underline-offset: 5px;
	}
}

p {
	margin: 0;
}

b, strong {
	font-weight: $fw-bold
}