// Grid.
$xs	: 375px;
$sm	: 480px;
$m	: 576px;
$md	: 768px;
$lg	: 992px;
$xl	: 1200px;
$xxl: 1366px;

// Container max-width.
$container-md: 760px;
$container-lg: 990px;
$container-xl: 1200px;

// Container padding.
$container-padding: 24px;

// Font families.
$ff    : 'Neo Sans Pro Cyr', sans-serif;
$round : 'Rounds', sans-serif;

// Font sizes.
$fs-xs	: 12px;
$fs-sm	: 14px;
$fs-md	: 16px;
$fs-lg	: 18px;
$fs-xl	: 20px;

// Font weights.
$fw-light	: 300;
$fw-regular	: 400;
$fw-medium	: 500;
$fw-bold	: 700;

// Line heights.
$lh			: 1.5;
$lh-title	: 1.3;

// Colors.
$white	: #FFFFFC;
$black	: #042A2B;
$main	: #e6e6e6;
$span   : #fd3c4d;
$dark   : #72b0b8;
$accent : rgb(67, 87, 225);

// Others.
$tr: 0.35s;
$op: 0.7;
$bord: 4px;