.page-ipad72019-repair h1,
.page-iphone-repair h1, .page-ipad-repair h1,
.page-iphone14-repair h1, .page-iphone14-glass h1 {
    text-align: left;
    margin-bottom: 30px;

    @media all and (min-width: $xl) {
        margin-bottom: 80px;
    }
}
.page-ipad72019-repair .hero-list,
.page-iphone-repair .hero-list,
.page-ipad-repair .hero-list,
.page-iphone14-repair .hero-list {
    animation: none;
}

.page-ipad72019-repair .hero-lists,
.page-iphone-repair .hero-lists,
.page-ipad-repair .hero-lists,
.page-iphone14-repair .hero-lists {
    max-height: 100%;
}

.page .header-logo,
.polityc .header-logo, .page .header-logo,
.page-ipad72019-repair .header-logo,
.page-iphone14-glass .header-logo,
.page-iphone-repair .header-logo,
.page-ipad-repair .header-logo,
.page-iphone14-repair .header-logo {

    svg:hover {
        opacity: 1;
    }
}

.other {
    padding: 30px 0;

    @media all and (min-width: $md) {
        padding: 50px 0;
    }

    .container {
        max-width: 1400px;
        position: relative;
    }

    h3 {
        font-family: $round;
        font-weight: $fw-bold;
    }

    &-items {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media all and (min-width: $xl) {
            flex-direction: row;
        }


        &-left {
            width: 100%;

            @media all and (min-width: $xl) {
                width: 50%;
            }

            .other-gar {
                font-size: 20px;
                margin-bottom: 30px;
                font-weight: $fw-bold;
            }
        }
    }

    &-sales {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media all and (min-width: $xl) {
            width: 50%;
        }

        &-text {
            font-size: 20px;
            text-align: center;
            margin-bottom: 20px;
            color: $dark;

            span {
                font-weight: $fw-bold;
                color: $span;
                font-size: 22px;
            }
        }

        &-disc {
            font-size: 30px;
            font-weight: $fw-bold;
            margin-bottom: 20px;
            color: $span;

            @media all and (min-width: $md) {
                font-size: 40px;
            }

            span {
                font-weight: $fw-regular;
                position: relative;
                color: $span;

                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    top: 50%;
                    left: 0;
                    height: 5px;
                    background: $black;
                }
            }
        }

        .small-form {
            align-items: center;
        }
    }

    .hero-lists-wrapper {
        width: 100%;
    }

    .hero-list-num {
        text-align: center;

        @media all and (min-width: $xl) {
            text-align: left;
        }
    }

    .iphone {
        display: none;
        position: absolute;
        top: 0;
        left: 50%;
        transform: rotate( 30deg )
                translateX( -50% );

        @media all and (min-width: $xl) {
            display: block;
        }
    }

    &-testi {
        padding: 20px 0;

        @media all and (min-width: $md) {
            padding: 50px 0;
        }

        .container {
            max-width: 1400px;
        }

        h2 {
            text-align: left;
        }

        &-items {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -10px;
        }

        &-item {
            padding: 0 10px;
            width: calc( 100% / 1 );
            margin-bottom: 10px;

            @media all and (min-width: $md) {
                width: calc( 100% / 2 );
                margin-bottom: 30px;
            }
        }

        &-inner {
            display: flex;
            flex-direction: column;
            padding: 20px;
            height: 100%;
        }

        &-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;

            @media all and (min-width: $lg) {
                flex-direction: row;
            }
        }

        &-img {
            margin-bottom: 10px;

            @media all and (min-width: $lg) {
                margin-bottom: 0;
            }

            img {
                border-radius: 50%;
            }
        }

        &-name {
            font-weight: $fw-bold;

            @media all and (min-width: $lg) {
                margin-left: 20px;
            }
        }

        &-stars {
            display: flex;

            @media all and (min-width: $lg) {
                margin-left: auto;
            }
        }

        &-text {
            font-size: 12px;
            text-align: center;

            @media all and (min-width: $m) {
                font-size: 15px;
            }
        }
    }
}

.br {
    display: none;

    @media all and (min-width: $sm) {
        display: block;
    }
}