.hero {
	padding: 20px 0;

	.container {
		max-width: 1500px;
	}

	h1 {
		margin-bottom: 50px;
	}

	&-wrapper {
		display: flex;
	}

	&-items {
		display: flex;
		flex-direction: column;
		width: 100%;

		@media all and (min-width: $lg) {
			flex-direction: row;
		}
	}

	&-item {
		width: 100%;
		display: flex;
		align-items: center;
		margin-bottom: 10px;
		justify-content: flex-start;
		color: $span;

		@media all and (min-width: $sm) {
			width: calc( 33.333% - 10px );
			margin-right: 10px;
		}

		&:last-child {
			margin-right: 0;
		}

		span {
			color: $black;
		}

		&-text {
			margin-left: 5px;
			font-size: 15px;

			@media all and (min-width: $sm) {
				font-size: 10px;
				margin-left: 5px;
			}

			@media all and (min-width: $m) {
				font-size: 15px;
			}

			@media all and (min-width: $md) {
				padding-right: 0;
			}

			@media all and (min-width: $lg) {
				font-size: 13px;
			}

			@media all and (min-width: $xl) {
				font-size: 16px;
			}

			span {
				margin-right: 5px;

				@media all and (min-width: $sm) {
					margin-right: 0;
				}
			}
		}

		img {
			max-width: 100%;

			@media all and (min-width: $sm) {
				max-width: 60%;
			}

			@media all and (min-width: $m) {
				max-width: 80%;
			}

			@media all and (min-width: $lg) {
				max-width: 60%;
			}

			@media all and (min-width: $xl) {
				max-width: 70%;
			}

			@media all and (min-width: $xxl) {
				max-width: 100%;
			}
		}
	}

	&-lists {
		display: flex;
		flex-direction: column;

		&-wrapper {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-bottom: 50px;

			@media all and (min-width: $lg) {
				width: 50%;
				margin-bottom: 0;
			}
		}
	}

	&-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;

		@media all and (min-width: $xxl) {
			margin-bottom: 5px;
		}

		&-num {
			font-family: $ff;
			font-weight: $fw-bold;
			font-size: 25px;
			margin-top: 30px;
			text-align: center;
			color: $accent;
			text-shadow: 1px 1px 1px $black;
			transition: color ease $tr;

			@media all and (min-width: $lg) {
				margin-top: 40px;
				font-size: 40px;
			}

			&:hover {
				color: $span;
			}
		}
	}

	&-worktime {
		font-size: 20px;
		text-align: center;
		margin-top: 20px;
		font-weight: $fw-bold;
		text-shadow: 1px 1px 1px #042a2b54;
		color: $span;
	}

	&-sale {
		position: relative;
		display: flex;
		align-items: center;
		width: 100%;
		display: flex;
		justify-content: center;
		transition: opacity ease $tr;
		cursor: pointer;
		text-align: center;

		@media all and (min-width: $lg) {
			width: 50%;
		}

		&:hover {
			opacity: $op;
		}

		&-info {
			width: 100%;
			max-width: 220px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate( -50%, -50% );

			@media all and (min-width: $sm) {
				transform: translate( -50%, -50% )
						rotate(-5deg);
			}

			@media all and (min-width: 600px) {
				transform: translateY( -50% )
							rotate( -5deg );
				left: 25%;
			}

			img {
				max-width: 50%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate( -50%, -50% );

				@media all and (min-width: 400px) {
					max-width: 60%;
				}

				@media all and (min-width: $sm) {
					max-width: 70%;
				}

				@media all and (min-width: 600px) {
					max-width: 100%;
				}

				@media all and (min-width: $lg) {
					max-width: 70%;
				}

				@media all and (min-width: $xl) {
					max-width: 100%;
				}
			}

			.sale-phone {
				max-height: 400px;
			}
		}

		h3 {
			font-size: 20px;
			margin-bottom: 20px;
			line-height: 1;

			@media all and (min-width: 400px) {
				font-size: 30px;
			}

			@media all and (min-width: $sm) {
				font-size: 35px;
			}

			@media all and (min-width: 600px) {
				font-size: 40px;
				margin-bottom: 50px;
			}

			@media all and (min-width: $lg) {
				font-size: 30px;
			}

			@media all and (min-width: $xl) {
				font-size: 40px;
			}
		}

		&-num {
			font-weight: $fw-bold;
			color: $span;
			font-size: 30px;
			line-height: 1;
			text-shadow: 1px 1px 2px $span;
			margin-bottom: 10px;
			animation: wiggle ease 2.5s infinite;

			@media all and (min-width: 400px) {
				font-size: 40px;
			}

			@media all and (min-width: $sm) {
				font-size: 40px;
			}

			@media all and (min-width: 600px) {
				margin-bottom: 30px;
			}

			@media all and (min-width: $xl) {
				font-size: 60px;
			}

			@keyframes wiggle {
				0% { transform: rotate(0deg); }
				80% { transform: rotate(0deg); }
				85% { transform: rotate(5deg); }
				95% { transform: rotate(-5deg); }
				100% { transform: rotate(0deg); }
			}
		}

		&-time {
			font-size: 12px;
			color: $accent;
			margin-bottom: 10px;

			@media all and (min-width: 400px) {
				font-size: 16px;
			}

			@media all and (min-width: $sm) {
				font-size: 18px;
				margin-bottom: 30px;
			}

			@media all and (min-width: 600px) {
				font-size: 25px;
			}

			@media all and (min-width: $lg) {
				font-size: 18px;
			}

			@media all and (min-width: $xl) {
				font-size: 25px;
			}

			.end, .start {
				color: $span;
			}
		}

		&-text {
			font-size: 6px;
			color: $accent;

			@media all and (min-width: 400px) {
				font-size: 8px;
			}

			@media all and (min-width: $sm) {
				font-size: 10px;
			}

			@media all and (min-width: 600px) {
				font-size: 12px;
			}

			@media all and (min-width: $lg) {
				font-size: 10px;
			}

			@media all and (min-width: $xl) {
				font-size: 12px;
			}
		}
	}
}

.hero-subtext {
	margin-bottom: 30px;
	font-size: 15px;
	color: $span;
	text-shadow: none;

	@media all and (min-width: $md) {
		margin-bottom: 80px;

		span {
			padding: 20px;
			border: 3px solid #dbe6f4;
			border-radius: $bord;
		}
	}

	@media all and (min-width: $lg) {
		span {
			font-size: 20px;
		}
	}
}