.hero {
	padding: 20px 0;

	@media all and (min-width: $md) {
		padding: 50px 0;
	}

	.container {
		max-width: 1400px;
	}

	h1 {
		margin-bottom: 60px;
	}

	&-wrapper {
		display: flex;
	}

	&-items {
		display: flex;
		flex-direction: column;
		width: 100%;

		@media all and (min-width: $lg) {
			flex-direction: row;
		}
	}

	&-item {
		width: 100%;
		display: flex;
		align-items: center;
		margin-bottom: 10px;
		justify-content: flex-start;
		color: $span;

		@media all and (min-width: $sm) {
			width: calc( 33.333% - 10px );
			margin-right: 10px;
		}

		&:last-child {
			margin-right: 0;
		}

		span {
			color: $black;
		}

		&-text {
			margin-left: 5px;
			font-size: 15px;

			@media all and (min-width: $sm) {
				font-size: 10px;
				margin-left: 5px;
			}

			@media all and (min-width: $m) {
				font-size: 15px;
			}

			@media all and (min-width: $md) {
				padding-right: 0;
			}

			@media all and (min-width: $lg) {
				font-size: 13px;
			}

			@media all and (min-width: $xl) {
				font-size: 16px;
			}

			span {
				margin-right: 5px;

				@media all and (min-width: $sm) {
					margin-right: 0;
				}
			}
		}

		img {
			max-width: 100%;

			@media all and (min-width: $sm) {
				max-width: 60%;
			}

			@media all and (min-width: $m) {
				max-width: 80%;
			}

			@media all and (min-width: $lg) {
				max-width: 60%;
			}

			@media all and (min-width: $xl) {
				max-width: 70%;
			}

			@media all and (min-width: $xxl) {
				max-width: 100%;
			}
		}
	}

	&-lists {
		display: flex;
		flex-direction: column;

		&-wrapper {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-bottom: 50px;

			@media all and (min-width: $lg) {
				width: 50%;
				margin-bottom: 0;
			}
		}
	}

	&-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;

		@media all and (min-width: $xxl) {
			margin-bottom: 5px;
		}

		&-num {
			font-family: $ff;
			font-weight: $fw-bold;
			font-size: 25px;
			margin-top: 30px;
			text-align: center;
			color: $accent;
			text-shadow: 1px 1px 3px $black;
			transition: color ease $tr;

			@media all and (min-width: $lg) {
				margin-top: 80px;
				font-size: 40px;
			}

			&:hover {
				color: $span;
			}
		}
	}

	&-sale {
		display: flex;
		align-items: center;
		width: 100%;
		display: flex;
		justify-content: center;
		transition: opacity ease $tr;
		cursor: pointer;

		@media all and (min-width: $lg) {
			width: 50%;
		}

		&:hover {
			opacity: $op;
		}
	}
}

.hero-subtext {
	margin-bottom: 30px;
	font-size: 15px;
	color: $span;
	text-shadow: none;

	@media all and (min-width: $md) {
		margin-bottom: 80px;

		span {
			padding: 20px;
			border: 3px solid #dbe6f4;
			border-radius: $bord;
		}
	}

	@media all and (min-width: $lg) {
		span {
			font-size: 20px;
		}
	}
}