.company-subtext {
	padding: 40px 0 10px; //

	.container {
		max-width: 1400px;
	}
}

.company-hero {
	padding: 0 0 20px;

	@media all and (min-width: $md) {
		padding: 50px 0;
	}

	.container {
		max-width: 1400px;
	}

	&-wrapper {
		display: flex;
		flex-direction: column;

		@media all and (min-width: $md) {
			flex-direction: row;
		}
	}

	&-text {
		font-family: $ff;
		width: 100%;
	}

	h1 {
		font-family: $round;
		margin-bottom: 40px;
		color: $black;
		font-size: 40px;
		text-shadow: 1px 1px 2px $black;

		@media all and (min-width: $md) {
			margin-bottom: 100px;
		}

		@media all and (min-width: $lg) {
			font-size: 50px;
		}

		@media all and (min-width: $xl) {
			margin-bottom: 180px;
		}
	}

	h3 {
		text-align: center;

		@media all and (min-width: $md) {
			text-align: left;
		}
	}

	&-info {
		width: 100%;
		text-align: center;
		margin-bottom: 100px;

		@media all and (min-width: $md) {
			width: 50%;
			text-align: left;
			margin-bottom: 0;
		}

		@media all and (min-width: $xl) {
			width: 40%;
			padding-left: 24px;
		}

		@media all and (min-width: $xxl) {
			width: 30%;
		}

		@media all and (min-width: 1450px) {
			padding-left: 0;
		}
	}

	&-anim {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin-bottom: 40px;

		@media all and (min-width: $md) {
			width: 50%;
			margin-bottom: 0;
		}

		@media all and (min-width: $xl) {
			width: 60%;
		}

		@media all and (min-width: $xxl) {
			width: 70%;
		}
	}

	.apple {
		max-width: 50%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		animation: apple 15s ease infinite;

		@keyframes apple {
			0% {
				opacity: 0;
			}

			50% {
				opacity: 1;
			}

			100% {
				opacity: 0;
			}
		}
	}

	.anim {
		width: 80px;
		height: 80px;
		position: relative;

		@media all and (min-width: $xl) {
			width: 150px;
			height: 150px;
			animation: anim 30s infinite ease-in-out;
		}
	}

	.anim span {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 80px;
		height: 80px;
		position: absolute;
		left: 0;
		top: 0;
		border: 4px solid #0B1B48;

		@media all and (min-width: $xl) {
			width: 150px;
			height: 150px;
		}

		& img {
			@media all and (min-width: $xl) {
				transform: rotate(125deg);
			}
		}

		&:nth-child(1) {
			transform: translate(-90px, 0);
		}

		&:nth-child(2) {
			transform: translate(90px, 0);
		}

		&:nth-child(3) {
			transform: translate(0, -90px);
		}

		&:nth-child(4) {
			transform: translate(0, 90px);
		}

		@media all and (min-width: $xl) {
			&:nth-child(1) {
				animation: span-1 15s ease-in-out infinite;
				transform: translate( 0 );
			}

			&:nth-child(2) {
				animation: span-2 15s ease-in-out infinite;
				transform: translate( 0 );
			}

			&:nth-child(3) {
				animation: span-3 15s ease-in-out infinite;
				transform: translate( 0 );
			}

			&:nth-child(4) {
				animation: span-4 15s ease-in-out infinite;
				transform: translate( 0 );
			}
		}
	}

	@media all and (min-width: $xl) {
		@keyframes anim {
			from {
				transform: rotate(0);
			}

			to {
				transform: rotate(360deg);
			}
		}

		@keyframes span-1 {
			0% {
				transform: translate(0);
			}

			50% {
				transform: translate(-150px, 0);
			}

			100% {
				transform: translate(0);
			}
		}

		@keyframes span-2 {
			0% {
				transform: translate(0);
			}

			50% {
				transform: translate(150px, 0);
			}

			100% {
				transform: translate(0);
			}
		}

		@keyframes span-3 {
			0% {
				transform: translate(0);
			}

			50% {
				transform: translate(0, -150px);
			}

			100% {
				transform: translate(0);
			}
		}

		@keyframes span-4 {
			0% {
				transform: translate(0);
			}

			50% {
				transform: translate(0, 150px);
			}

			100% {
				transform: translate(0);
			}
		}
	}
}

.header-arrow {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	transform: translate( -30%, -50% );

	span {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		height: 100%;
		border-right: 5px solid $black;
		border-top: 5px solid $black;
		transform: translate( -50%, -50% )
					rotate(-140deg);
		transition: border-color ease 0.5s;
	}
}

.page .header-logo {
	cursor: pointer;
	transition: background ease 0.5s;

	&:hover {
		background: $accent;

		svg path {
			fill:  $white;
		}

		.header-arrow {
			span {
				border-color: $white;
			}
		}
	}

	.logo {
		height: 100%;
	}

	svg:hover {
		opacity: 1;
	}
}
