.page-iphone-repair h1 {
    text-align: left;
    margin-bottom: 30px;

    @media all and (min-width: $xl) {
        margin-bottom: 80px;
    }
}

.page-iphone-repair .hero-list {
    animation: none;
}

.page-iphone-repair .hero-lists {
    max-height: 100%;
}

.page-iphone-repair .header-logo {
    cursor: pointer;
    transition: background ease 0.5s;

    &:hover {
        background: $accent;

        svg path {
            fill: $white;
        }

        .header-arrow {
            span {
                border-color: $white;
            }
        }
    }

    .logo {
        height: 100%;
    }

    svg:hover {
        opacity: 1;
    }
}