.footer {
    padding: 50px 0 10px;
    text-align: center;

    @media all and (min-width: $md) {
        padding: 100px 0 20px;
    }

    .container {
		max-width: 1500px;
    }

    .address {
        font-family: $ff;
        font-size: 15px;
        margin-bottom: 10px;
    }

    &-num {
        font-family: $ff;
        font-weight: $fw-bold;
        color: $span;
        font-size: 20px;
        margin-bottom: 10px;
        text-shadow: 1px 1px 1px $black;
    }

    &-text {
        font-size: 15px;
        margin-bottom: 10px;
    }

    &-privacy {
        font-size: 15px;
        text-decoration: underline;
        text-underline-offset: 5px;
        color: $black;

        &:hover {
            text-decoration: none;
        }
    }

    &-offer {
        font-size: 12px;
    }
}

.scroll-img {
    opacity: 0;
    width: 30px;
    height: 30px;
    position: fixed;
    bottom: 10%;
    right: 5%;
    z-index: 100;
    border-top: 10px solid $black;
    border-left: 10px solid $black;
    transform: rotate( 45deg );
    cursor: pointer;
    transition: scale ease $tr,
                opacity ease $tr;

    &:hover {
        scale: 1.1
    }

    &.scrolled {
        opacity: 1;
    }
}